/*
Black: #313131 rgb (49, 49, 49)
blackblack: #101010 rgb (16, 16, 16)
White: #FFFFFF rgb (255, 255, 255)
Orange: #F37F1D rgb (243, 127, 29)
Pinky : #EE6F6F; rgb (238, 111, 111)
Red-Pink : #FF3131; rgb (243, 49, 49) // dark pink-red : #C8161D; rgb (200, 22, 29)
blue : #03A9F4; rgb (3, 169, 244) // blue dark : #034D76; rgb (3, 77, 118)
green : #8BC34A; rgb (139, 195, 74) // green dark : #5F762E; rgb (95, 118, 46)
*/
footer{
  position: relative;
  width: 100%;
  font-size: 1.2em;
  background-color: #313131;
  color: #FFFFFF;
}

#copyright{
  text-align: center;
}

#powered{
  text-align: start;
  right: 1em;
  bottom: 0em;
  position: absolute;
  padding: 0px;
}

.link{
  color: #F37F1D;
  text-decoration: none;
}

.link:hover{
  color: #FF3131;
}
