/*
Black: #313131 rgb (49, 49, 49)
blackblack: #101010 rgb (16, 16, 16)
White: #FFFFFF rgb (255, 255, 255)
Orange: #F37F1D rgb (243, 127, 29)
Pinky : #EE6F6F; rgb (238, 111, 111)
Red-Pink : #FF3131; rgb (243, 49, 49) // dark pink-red : #C8161D; rgb (200, 22, 29)
blue : #03A9F4; rgb (3, 169, 244) // blue dark : #034D76; rgb (3, 77, 118)
green : #8BC34A; rgb (139, 195, 74) // green dark : #5F762E; rgb (95, 118, 46)
*/
header{
  position: relative;
}

.img_fullsize{
  background-color: rgba(0, 0, 0, 0.2);
  height: 300px;
  position: relative;
  margin: 0px;
}

.img_fullsize:after{
  height: 300px;
  content: '';
  background-image: url("../_inc/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(1px);
         -moz-filter: blur(1px);
          -ms-filter: blur(1px);
           -o-filter: blur(1px);
              filter: blur(1px);
  position: absolute;
  top: -2px;
  bottom:0;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.img_fullsize_title{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: #F37F1D;
  text-align: center;
  padding-top: 86px;
  cursor: default;
}

.img_fullsize_title_below{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
  cursor: default;
}

.nav_contener{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}

.nav_contener li{
  display: inline-block;
  padding: 5px 5px 0px 5px;
  cursor: pointer;
  font-size: 22px;
}

.nav_contener li:hover{
  border-bottom: solid 2px #FFFFFF;
}

.active{
  color: #F37F1D;
  border-bottom: solid 2px #F37F1D;
}

.active:hover{
  color: #F37F1D;
  border-bottom: solid 2px #F37F1D!important;
}

.search-wrapper{
  position: absolute;
  bottom: -95px;
  right: 5px;
}

.search_input {
  width: 0px;
  height: 10px;
  padding: 10px 5px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #EEE;
  border-radius: 3px 0 0 3px;
  -webkit-transition: 1; /* Safari */
  transition: 1s;
  margin-left: 126px;
}

.search_input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search_input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search_input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search_input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search_submit {
  overflow: visible;
  position: relative;
  outline: none;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  width: 72px;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  line-height: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #F37F1D;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search_submit:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #F37F1D transparent;
  top: 9px;
  left: -6px;
}

.search_submit:hover{
  background-color: #FF3131;
}

.search_submit:hover:before{
  border-right-color: #FF3131;
}

.search_submit::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.submit_active{
  background-color: #FF3131;
}

.submit_active:before{
  border-right-color: #FF3131;
}

.input_active{
  width: 128px;
}

.search_find_contener{
  list-style: none;
  height: 170px;
  overflow: hidden;
  margin-left: 126px;
  padding: 0px;
  margin-top: -2px;
}

.hidden{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 0px;
  height: 29px;
  cursor: pointer;
  padding: 2px;
}

.find{
  display: block;
  width: 138px;
}

.find:hover{
  color: #FF3131;
  border-bottom: 1px solid #FF3131;
}

#tab{
  margin: 20px auto;
  height: 50px;
  width: 1024px;
}

#tab h1{
  color: #FFFFFF;
  line-height: 1;
}
