<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style/style.css" media="screen" charset="utf-8"/>
        <title>Esport-Moments</title>
    </head>
    <body>
      <header>
        /* HEADER */
      </header>
        <h1>Welcome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis ultricies magna, vitae lobortis elit bibendum ut. Proin a arcu nulla. Duis pellentesque at justo sit amet mollis. Donec sagittis justo nisi, sit amet efficitur diam rutrum semper. Sed mollis in erat quis mattis. Cras aliquet magna a leo porttitor, a fringilla purus faucibus. Maecenas et pharetra diam, ut fermentum felis. Pellentesque orci odio, venenatis vitae nisi nec, tincidunt ultrices ligula. Nunc vitae dictum quam. Etiam lacus lorem, tincidunt in est eget, convallis molestie erat. Mauris porttitor justo in erat commodo, ac efficitur sapien placerat. Integer mattis urna vitae urna maximus condimentum. Sed mollis tempus mauris, tempus hendrerit metus dignissim et. In hac habitasse platea dictumst.</p>
        <h2>Welcome</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis ultricies magna, vitae lobortis elit bibendum ut. Proin a arcu nulla. Duis pellentesque at justo sit amet mollis. Donec sagittis justo nisi, sit amet efficitur diam rutrum semper. Sed mollis in erat quis mattis. Cras aliquet magna a leo porttitor, a fringilla purus faucibus. Maecenas et pharetra diam, ut fermentum felis. Pellentesque orci odio, venenatis vitae nisi nec, tincidunt ultrices ligula. Nunc vitae dictum quam. Etiam lacus lorem, tincidunt in est eget, convallis molestie erat. Mauris porttitor justo in erat commodo, ac efficitur sapien placerat. Integer mattis urna vitae urna maximus condimentum. Sed mollis tempus mauris, tempus hendrerit metus dignissim et. In hac habitasse platea dictumst.</p>
        <h3>Riot made hotfixes for patch 6.9--read up on them and see what changed this week!</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis ultricies magna, vitae lobortis elit bibendum ut. Proin a arcu nulla. Duis pellentesque at justo sit amet mollis. Donec sagittis justo nisi, sit amet efficitur diam rutrum semper. Sed mollis in erat quis mattis. Cras aliquet magna a leo porttitor, a fringilla purus faucibus. Maecenas et pharetra diam, ut fermentum felis. Pellentesque orci odio, venenatis vitae nisi nec, tincidunt ultrices ligula. Nunc vitae dictum quam. Etiam lacus lorem, tincidunt in est eget, convallis molestie erat. Mauris porttitor justo in erat commodo, ac efficitur sapien placerat. Integer mattis urna vitae urna maximus condimentum. Sed mollis tempus mauris, tempus hendrerit metus dignissim et. In hac habitasse platea dictumst.</p>
        <h4>Welcome</h4>
                  <p>Riot made hotfixes for patch 6.9--read up on them and see what changed this week!</p>
        <h5>Welcome</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis ultricies magna, vitae lobortis elit bibendum ut. Proin a arcu nulla. Duis pellentesque at justo sit amet mollis. Donec sagittis justo nisi, sit amet efficitur diam rutrum semper. Sed mollis in erat quis mattis. Cras aliquet magna a leo porttitor, a fringilla purus faucibus. Maecenas et pharetra diam, ut fermentum felis. Pellentesque orci odio, venenatis vitae nisi nec, tincidunt ultrices ligula. Nunc vitae dictum quam. Etiam lacus lorem, tincidunt in est eget, convallis molestie erat. Mauris porttitor justo in erat commodo, ac efficitur sapien placerat. Integer mattis urna vitae urna maximus condimentum. Sed mollis tempus mauris, tempus hendrerit metus dignissim et. In hac habitasse platea dictumst.</p>
        <h6>Welcome</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis ultricies magna, vitae lobortis elit bibendum ut. Proin a arcu nulla. Duis pellentesque at justo sit amet mollis. Donec sagittis justo nisi, sit amet efficitur diam rutrum semper. Sed mollis in erat quis mattis. Cras aliquet magna a leo porttitor, a fringilla purus faucibus. Maecenas et pharetra diam, ut fermentum felis. Pellentesque orci odio, venenatis vitae nisi nec, tincidunt ultrices ligula. Nunc vitae dictum quam. Etiam lacus lorem, tincidunt in est eget, convallis molestie erat. Mauris porttitor justo in erat commodo, ac efficitur sapien placerat. Integer mattis urna vitae urna maximus condimentum. Sed mollis tempus mauris, tempus hendrerit metus dignissim et. In hac habitasse platea dictumst.</p>
      <footer>
        /* FOOTER */
      </footer>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
          var socket = io.connect('http://localhost:8080'); // socket loading
      </script>
    </body>
</html>
