<!DOCTYPE html>
<html ng-app="moments" >
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style/style.css" media="screen" charset="utf-8"/>
        </script>
        <title>Esport-Moments</title>
    </head>
    <body>
      <header ng-controller="headerController as header">
        <div class="img_fullsize">
          <div class="img_fullsize_title">
            <h1>Esports-Moments</h1>
            <h2 class="img_fullsize_title_below">Relive the greatest esports moments</h2>
          </div>
        </div>
        <nav class="nav_contener">
          <ul>
            <li ng-repeat="category in header.categorys" ng-show="category.showNav" id="{{ $index +1 }}" ng-class="{ active:header.isSet(category.nav) }" ng-click="header.setTab(category.name);header.setNav(category.nav)">{{ category.name }}</li>
          </ul>
        </nav>
          <div class="search-wrapper">
            <input class="search_input" ng-model="search" type="text" placeholder="Search here...">
            <button class="search_submit" type="submit" >Search</button>
            <ul class="search_find_contener">
              <li class="hidden" ng-click="header.setTab(category.name);header.setNav(category.nav);header.setShow(category)" ng-repeat="category in header.categorys | filter:search" >{{ category.name }}</li>
            </ul>
          </div>
          <div id="tab"><h1>{{ header.getTab() }}</h1></div>
      </header>
        <best-of></best-of>

      <!--<section class="moments_contener">
        <div class="ad_left">
        </div>
        <div class="moments">
        </div>
        <div class="ad_right">
        </div>
      </section>-->
      <footer>
        <p id="copyright">© 2016 Esports-Moments ALL RIGHTS RESERVED</p>
        <p id="powered">Powered by <br/> <a class="link" href="https://twitter.com/fabien_greard">Fabien Gréard</a></p>
      </footer>
      <script type="text/javascript" src="/_inc/jquery.min.js"></script>
      <script type="text/javascript" src="/_inc/angular.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/header.js"></script>
      <script type="text/javascript" src="/js/footer.js"></script>
      <script>
          var socket = io.connect('http://localhost:3000'); // socket loading
      </script>
    </body>
</html>
